<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.exercise.p.citicup">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.WelcomeActivity"
            android:theme="@style/FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" />
        <activity
            android:name=".activity.SignActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activity.FpswActivity" />
        <activity android:name=".activity.InsuPreferActivity" />
        <activity android:name=".activity.ReadActivity" />
        <activity android:name=".activity.FinaPreferActivity" />
        <activity android:name=".activity.RiskTestActivity" />
        <activity android:name=".activity.TeachActivity" />
        <activity android:name=".activity.InsuTestActivity" />
        <activity android:name=".activity.PersonalActivity" />
        <activity android:name=".activity.InsuProDetailActivity" />
        <activity android:name=".activity.MistakeActivity" />
        <activity android:name=".activity.FinaProDetailActivity" />
        <activity android:name=".activity.AssetsActivity" />
        <activity android:name=".activity.FeedbackActivity"></activity>
    </application>

</manifest>